<script type=text/x-handlebars-template id=card-project><div class="card">
    <div class="fb-grid__row">
      <div class="fb-grid_-col-12">
        <div class="card-image__container">
          <a href="{{post-detail-url}}"><img class="card-image" src="{{image-url}}"></a>
        </div>
      </div>
    </div>
    <!-- Card controls -->
    <div class="fb-grid__row">
      <div class="fb-grid__col-6">
        <div class="fb-grid__row">
          <div class="fb-grid__col-6">
            <img class="icon" src="/assets/images/symbols/heart.svg" alt="Like">
          </div>
          <div class="fb-grid__col-6">
            <p class="card-project__likes">{{likes}}</p>
          </div>
        </div>
      </div>
      <div class="fb-grid__col-6">
        <div class="fb-grid__row">
          <div class="fb-grid__col-6">
            <img class="icon" src="/assets/images/symbols/comment.svg" alt="comment">
          </div>
          <div class="fb-grid__col-6">
            <p class="card-project__comment">{{comments}}</p>
          </div>
        </div>
      </div>
    </div>
  </div></script>